.actionSheet-ui{
	height: 100%;
	width: 100%;
	.mask{
		position: absolute;
		width: 100%;
		height: 100%;
		background: #000;
		opacity: 0.4;
	}
	.actionSheet{
		position: fixed;
		bottom: 0;
		width: 100%;
		left: 0;
		text-align: center;
	}
	.popMsg{
		position: absolute;
		height: 100%;
		width: 100%;
		background: transparent;
		z-index: 11;
	}
	.popMsgBox{
		padding: 20px;
		border-radius: 4px;
		position: absolute;
		width: 90%;
		height: 420px;
		background: #fff;
		left: 5%;
		top: 50%;
		margin-top : -210px;
		overflow-y : auto; 
	}
	.popMsgBox label{
		font-size: 12px;
		margin-bottom: 5px;
		color: #000;
	}
	.mui-btn-primary{
		padding: 8px 10px;
	}
	.mui-table-view-cell{
		font-size: 12px;
	}
}
