.page-child-info{
	position: absolute;
	overflow: hidden;
	-webkit-transition:all .3s ease;
	transition:all .3s ease;
	background: #fff;
	font-size: 14px;
	top:90px;
	bottom: 44px;
	left: 0;
	right: 0;
}
.child-info-box{
	position: fixed;
	overflow: hidden;
	top: 75px;
	left: 0;
	right: 0;
	bottom: 50px;
	z-index: 10;
}