.stock-list{
    width: 100%;
    top:0;
    bottom: 0;
    padding: 10px;
    background: #303F7A;
    position: fixed;
    -webkit-transition:all .3s ease;
    transition:all .3s ease;
    font-size: 12px;
    z-index:1000;
}
.stock-box{
    position: absolute;
    top:75px;
    bottom: 0;
    left: 10px;
    right:10px;
    overflow-y: auto;
}
.list-router{
    height:100%;
    width:100%;
    background:transparent;
    position:absolute;
    left:0;
    top:0;
    z-index: 2;
    -webkit-transform:translate3d(100%,0,0);
    transform:translate3d(100%,0,0);
}
.list-router-active{
    -webkit-transition:all .3s ease;
    transition:all .3s ease;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
}
.stock-container{
	display: block;
	background: #f4f4f4;
	border-radius: 20px;
	height: 56px;
	margin-top: 15px;
	padding-top: 14px;
    font-size: 12px;
}
.stock-container img {
    float: left;
    width: 24px;
    height: auto;
    margin-left: 18px;
    margin-top: 3px;
}
.stock-container  b {
    font-size: 12px;
    color: #4554a1;
    font-weight: normal;
    line-height: 29px;
    padding-left: 5px;
    display: block;
    float: left;
    width: 70px;
}
.stock-container span {
    float: right;
    font-size: 14px;
    color: #474040;
    line-height: 29px;
    width: 160px;
}
.stock-container .jz {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
    display: block;
    text-align: right;
}
.cf::after{
    content: " ";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}
.mui-table-view-cell > a:not(.mui-btn) {
    //background: red;
}
