.stock-detail{
	background: #303f7a;
	position: absolute;
	width: 100%;
    height: 100%;
	overflow: hidden;
	-webkit-transition:all .3s ease;
 	transition:all .3s ease;
    font-size: 12px;
}
.stock-detail-content{
    position: absolute;
    top:75px;
    width: 100%;
    bottom: 0;
    overflow-y: auto;
}
.stock-detail .grzx_top span {
    float: left;
    display: block;
    width: 60px;
    height: 60px;
}
.stock-detail .grzx_top span img {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    
}
.stock-detail .grzx_top i {
    display: block;
    float: right;
    padding-top: 18px;
}
.stock-detail .cf::after {content: " ";display: block;clear: both;height: 0;overflow: hidden;}
.stock-detail .grzx_top i a:hover, .stock-detail .grzx_top i a.open {
    background: #fff;
    color: #3f4f97;
    border-radius: 15px;
}
.stock-detail .grzx_top i a {
    font-size: 15px;
    color: #dce3ff;
    padding: 5px 15px;
}
.stock-detail .grzx_bottom {
    padding: 15px 0;
    position: relative;
}
.order-number{
    color:#fff;
    position: absolute;
    right: 10px;
    bottom: 20px;
    background: #5667aa;
    border: 1px solid #aebaff;
    padding: 2px 6px;
}
.stock-detail .grzx_bottom i {
    display: block;
    font-size: 18px;
    color: #788dff;
    line-height: 14px;
    padding: 4px 0;
    font-style: normal;
}
.stock-detail .grzx_bottom b {
    font-size: 22px;
    color: #aebaff;
    line-height: 16px;
    padding: 4px 0;
    font-weight: normal;
    padding-top: 15px;
    display: block;
}
.stock-detail .grzx {
    background: url('../../images/j8.jpg') no-repeat center;
    background-size: 100% 100%;
    padding: 20px 10px 70px 10px;
}
.stock-detail .mui-card{
	margin: 0;
}
.stock-detail .mui-card .apply-icon{
	float: left;
	width: 20px;
	height: 20px;
	margin-right: .3em;
	margin-top: 1px;
}
.orderNum-box{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    overflow: hidden;
    display: table;
}
.mask{
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: 2;
    top:0;
    left:0;
    overflow: hidden;
}
.orderNum-box-content{
    position: absolute;
    width: 86%;
    height: 60%;
    overflow: hidden;
    margin: 120px 7%;
    z-index: 3;
    background: #fff;
}
.conetent-wrap{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.content-header{
    height:50px;
    line-height: 50px;
    border-bottom: 1px solid #c8c7cc;
    -webkit-box-shadow: 1px 1px 4px #c8c7cc;
    -box-shadow: 1px 1px 4px #c8c7cc;
}
.content-body{
    position: absolute;
    top:51px;
    bottom: 40px;
    width: 100%;
    overflow: hidden;
    text-align: left;
}
.content-footer{
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    background:#007AFF;
    border-top: 1px solid #c8c7cc;
    -webkit-box-shadow: 1px 3px 4px #c8c7cc;
    -box-shadow: 1px 3px 4px #c8c7cc;
}
.content-footer .float-span{
    float: left;
    width: 50%;
    line-height: 40px;
    color:#fff;
} 
.content-footer .float-span:nth-child(1){
    background: #FFFFFF;
    color:#000;
}
.content-body .mui-input-group:after,.content-body .mui-input-group:before{
    height: 0;
}

