* {
	box-sizing: border-box;
}
html,body{
	height: 100%;
	font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
	overflow: hidden;
}
#app{
	height: 100%;
	background: #303f7a;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	text-align: center;
  	color: #2c3e50;
}

.fl-r{
	float: right;
}
/*自定义小按钮*/
.small-btn{
	display: inline-block;
	padding: 0 5px;
	font-size: 12px;
	border:1px solid #F2F2F2;
	color:#FFFFFF;	
	background: none;
	border-radius: 5px;			
}
.move-enter-avtive,
.move-leave-active{
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}
.move-enter,
.move-leave-active{
	-webkit-transform:translate3d(100%,0,0);
	transform:translate3d(100%,0,0);
}
.midden-tab{
	position: absolute;
	top:45px;
	bottom: 48px; 
	left: 0;
	right: 0;
	overflow: hidden;
	overflow-y: auto;
}
.mui-active .icon{
	background: #9399BF;
}
.flex{
	display: -webkit-flex;
	display: flex;
}
.flex-items{
	flex:1;
}
.text-l{
	text-align: left;
}
.text-r{
	text-align: right;
}
.border-1px{
	position:relative;
}
.border-1px:after{
	display: block;
	position: absolute;
	left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #EBEFF0;
	content: ''
}

    
